* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    line-height: 1.5;
    --primary-font: "Unbounded", sans-serif;
}

body {
    background-color: #3C3749;
}

.container {
    margin: 0 15%;
    padding: 50px;
    min-height: 100vh;
    border-left: solid 30px #C9CF8C;
    border-right: solid 30px #C9CF8C;
    background-color: #DEE4B8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h1 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 4rem;
    color: #54604f;
    text-align: center;
}

.add-book {
    padding: 20px 40px;
    font-family: var(--primary-font);
    font-size: 1.5em;
    background-color: transparent;
    border: none;
}

.add-book:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.library-container {
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-flow: row;
    gap: 20px;

}

.book {
    padding: 10px 10px;
    font-family: var(--primary-font);
    font-weight: 200;
    background-color: hsl(47, 100%, 91%);
    border: 5px solid #CCAA5E;
    border-radius: 10px;;
    display: flex;
    flex-direction: column;
}

span {
    font-weight: 400;
}

.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.toggle-read {
    padding: 5px;
    max-height: 40px;
    font-family: var(--primary-font);
    font-size: 1em;
    font-weight: 200;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(109, 96, 159, 0.552);
}

.modal-content {
    margin: 20% auto;
    padding: 20px;
    width: 30%;
    font-size: 1.3em;
    background-color: #fefefe;
    border: 3px solid rgb(57, 41, 124);
    display: grid;
    grid-template-columns: 90% auto;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.book-info {
    margin-bottom: 15px;
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 5px;
    font-size: 1.2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.form-submit {
    align-self: center;
    padding: 5px;
    font-family: var(--primary-font);
    font-size: 1em;
}

.close {
    margin-left: 10px;
    color: #aaa;
    font-size: 40px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}